* {
  vertical-align: top;
  box-sizing: border-box;
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 36px;
  transition-duration: 0.5s;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #333;
  color: #ddd;
}

h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

/*--------------------------------------------------------------
# Nabar
--------------------------------------------------------------*/

.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343436;
}

nav {
  display: flex;
  width: 90%;
}

ul li a {
  margin-left: 1.5em;
}

a.logo {
  margin-right: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 1.25em;
}

a::after {
  content: "";
  top: 80%;
  border-bottom: 2px solid #F8E71C;
  transition: all 0.35s;
  position: absolute;
}

a:hover::after {
  transition: all 0.35s;
}

a::after {
  right: 50%;
  left: 50%;
}

a:hover::after {
  right: 0;
  left: 0;
}

@media (max-width: 1024px) {
  .wrapper {
    height: auto;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  a.logo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0px;
  }

  ul {
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }

  ul li a {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  a.logo {
    margin: 1.5em;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    margin: 0.3em;
    text-align: center;
  }

  ul li a {
    margin-left: 0px;
  }
}

.top {
  height: 300px;
  background-color: #24260f;
}

.top-content {
  width: 1027px;
  height: 300px;
  background-color: #24260f;
  margin-right: auto;
  margin-left: auto;
}

.photo {
  width: 200px;
  height: 275px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 300px;
  background-color: #24260f;
}

.photo h1 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  position: relative;
  bottom: 15px;
  background-color: #24260f;
  color: #f2f2e9;
  margin-top: 30px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.info {
  width: 450px;
  height: 275px;
  margin-top: 20px;
  background-color: #24260f;
}

.photo,
.info {
  display: inline-block;
}

.title {
  width: 350px;
  height: 80px;
  margin-left: 50px;
  padding-top: 15px;
  text-align: center;
  font-size: 26px;
  line-height: 80px;
  border-bottom: solid 3px #90a955;
  background-color: #24260f;
  color: #f2f2e9;
}

.contact {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

.url {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #24260f;
  color: #f2f2e9;
}

.url span {
  line-height: 36px;
  font-family: karla, sans-serif;
  padding-left: 10px;
  background-color: #24260f;
  color: #f2f2e9;
}

.max-width {
  width: 1027px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .carousel-item img {
    width: auto;
    height: 400px;
    max-height: 400px;
  }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: yellowgreen;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/

