@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@media all{ 
  * { 
    -webkit-box-sizing:  inherit; 
    -moz-box-sizing:  inherit; 
    box-sizing:  inherit;
  } 

  a { 
    -webkit-transition:    all .25s ease-in-out; 
    -moz-transition:    all .25s ease-in-out; 
    -o-transition:    all .25s ease-in-out; 
    transition:    all .25s ease-in-out;
    background-color:   transparent;
    text-decoration:  none;
    color: #fff;
  } 
}     

a { 
    color: #ffffff;
} 

@media all{ 
  .custom-logo-link { 
    display: inline-block;
  } 

  a:hover { 
    outline-width: 0;
  } 

  a:visited { 
    text-decoration: none;
  } 

  a:hover { 
    outline:  0;
    color: #d98e4a;
  } 
}     

a:hover { 
    color: #0688ff;
} 

@media all{ 
  .wp-custom-logo .custom-logo-link { 
    display: block;
  } 
}     

@media screen and (min-width: 30em){ 
  .wp-custom-logo .custom-logo-link { 
    display: block;
    margin-right:  15px; 
    margin-bottom:  0;
  } 
}     

@media all{ 
  .site-branding { 
    display: flex; 
    display: -ms-flexbox; 
    display: -webkit-box; 
    margin:  14px auto 14px 0; 
    max-width:  80%; 
    min-width:  0; 
    text-align:  left; 
    overflow:  hidden; 
    width:  auto;
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
  } 
}     

@media screen and (min-width: 64em){ 
  .site-branding { 
    margin: 14px auto 14px 20px;
  } 
}     

@media only screen and (min-width: 75em){ 
  .navigation-default .site-branding { 
    text-align: left;
  } 
}     

@media all{ 
  .wrapper { 
    margin: 0 auto; 
    max-width: 1500px; 
    width: 100%;
  } 

  .site-header-main .wrapper { 
    display: flex; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    max-width:  100%;
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    padding: 7px 30px; 
    position: relative;
  } 
}     

@media only screen and (min-width: 75em){ 
  .site-header-main .wrapper { 
    padding: 14px 30px;
  } 
}     

@media all{ 
  header .site-header-main { 
    border-color: #252525;
  } 
}     

header .site-header-main { 
    border-color: #252525;
} 

@media all{ 
  header { 
    display: block;
  } 

  .site-header { 
    position: relative;
  } 

  .absolute-header .site-header { 
    position: absolute; 
    left: 0; 
    width: 100%; 
    top: 0; 
    z-index: 99;
  } 

  #page { 
    margin: 0 auto; 
    overflow: hidden; 
    position: relative; 
    -ms-word-wrap: break-word; 
    word-wrap: break-word;
  } 

  body { 
    margin:    0;
    font-family:   montserrat,sans-serif;
    font-weight:  400; 
    line-height:  1.67;
    font-size: 1.125rem;
  } 
}     

@media screen and (min-width: 100em){ 
  body { 
    font-size: 1.3125rem;
  } 
}     

@media all{ 
  body { 
    background-color:  #000;
    color: #999;
  } 
}     

body { 
    font-family:   "Poppins", sans-serif;
    background-color:  #000000;
    color: #999999;
} 

@media all{ 
  html { 
    -webkit-box-sizing:    border-box; 
    -moz-box-sizing:    border-box; 
    box-sizing:   border-box;
    line-height:  1.15; 
    -webkit-text-size-adjust:  100%;
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
  } 

  img { 
    display:  block; 
    border-style:   none;
    height:  auto; 
    max-width:  100%; 
    vertical-align: middle;
  } 

  .custom-logo { 
    display: block;
    margin:  0 auto;
  } 
}     

@media screen and (min-width: 48em){ 
  .custom-logo { 
    margin: 0;
  } 
}     

@media all { 
  *,:before,:after { 
    -webkit-box-sizing:  inherit; 
    -moz-box-sizing:  inherit; 
    box-sizing:  inherit;
  }

  .formulier { 
    position: relative;
  }
}

@media all{ 
  html { 
    -webkit-box-sizing:    border-box; 
    -moz-box-sizing:    border-box; 
    box-sizing:   border-box;
    line-height:  1.15; 
    -webkit-text-size-adjust:  100%;
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
  } 

  input { 
    font-family:    montserrat,sans-serif;
    font-size:   1rem; 
    margin:      0;
    overflow:      visible;
    line-height:   1.75;
    color: #999;
  } 
}     

input { 
    font-family:  "Poppins", sans-serif;
    color: #999999;
} 

@media all{ 
  input[type="text"] { 
    transition:    .2s border-color .2s ease-in,.2s color .2s ease-in;
    background-color:   #000;
    border:   1px solid; 
    border-width:   0 0 1px; 
    margin-top:   7px; 
    padding:   14px; 
    width:   100%;
    border-color: #252525;
  } 
}     

input[type="text"] { 
    background-color:  #000000;
    border-color: #252525;
} 

@media all{ 
  *,:before,:after { 
    -webkit-box-sizing:  inherit; 
    -moz-box-sizing:  inherit; 
    box-sizing:  inherit;
  } 
}
h1 { 
  font-family:  "Poppins", sans-serif;
  color: #ffffff;
} 

@media all{ 
.section-title { 
  font-family: playfair display,serif;
} 

.entry-title { 
  font-size:   1.375rem;
  -webkit-hyphens:  auto; 
  -moz-hyphens:  auto; 
  -ms-hyphens:  auto; 
  hyphens:  auto;
  font-weight: 600; 
  font-stretch: normal; 
  font-style: normal; 
  line-height: 1.46; 
  letter-spacing: normal; 
  margin: 0;
} 

.section-title { 
  font-weight: 400; 
  font-stretch: normal; 
  font-style: normal; 
  line-height: 1.29; 
  letter-spacing: normal;
} 
}     

@media screen and (min-width: 100em){ 
.entry-title { 
  font-size: 1.5rem;
} 
}     

.section-title { 
  font-family: "Poppins", sans-serif;
} 

@media all{ 
h1:first-child { 
  margin-top: 0;
} 

.section-title,.entry-title.section-title { 
  font-size: 2rem;
} 

.section-title  { 
  font-weight:   700; 
  font-stretch:   normal; 
  font-style:   normal; 
  line-height:   1.43;
  letter-spacing:   normal;
  font-size:  2rem; 
  text-transform: uppercase; 
  margin-bottom: 0; 
  margin-top: 0;
} 

.entry-title  { 
  color: #fff;
} 
}     

.entry-title  { 
  color: #ffffff;
} 

@media all{ 
.section-title  { 
  text-transform: inherit; 
  font-weight: 700; 
  font-stretch: normal; 
  font-style: normal; 
  line-height: 1.31; 
  letter-spacing: normal;
} 
}     

@media screen and (min-width: 64em){ 
.section-title,.entry-title.section-title,.section-title  { 
  font-size: 2.3125rem;
} 
}     

@media screen and (min-width: 85.375em){ 
.section-title  { 
  font-size: 2.6875rem;
} 
}     

@media screen and (min-width: 100em){ 
.section-title,.entry-title.section-title,.section-title  { 
  font-size: 3.0625rem;
} 
}     

@media all{ 
.section-title  { 
  font-weight: 600;
} 
}     
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@media all{ 
  * { 
    -webkit-box-sizing:  inherit; 
    -moz-box-sizing:  inherit; 
    box-sizing:  inherit;
  } 

  .has-header-media:not(.home) .custom-header-media { 
    position: relative;
  } 

  .wrapper { 
    margin: 0 auto; 
    max-width: 1500px; 
    width: 100%;
  } 

  .header-media .wrapper { 
    width: 100%; 
    max-width: 1920px;
  } 

  .custom-header { 
    clear:  both; 
    position:  relative;
    background-color: #111;
  } 
}     

.custom-header { 
    background-color: #111111;
} 

@media all{ 
  #page { 
    margin: 0 auto; 
    overflow: hidden; 
    position: relative; 
    -ms-word-wrap: break-word; 
    word-wrap: break-word;
  } 

  body { 
    margin:    0;
    font-family:   montserrat,sans-serif;
    font-weight:  400; 
    line-height:  1.67;
    font-size: 1.125rem;
  } 
}     

@media screen and (min-width: 100em){ 
  body { 
    font-size: 1.3125rem;
  } 
}     

@media all{ 
  body { 
    background-color:  #000;
    color: #999;
  } 
}     

body { 
    font-family:   "Poppins", sans-serif;
    background-color:  #000000;
    color: #999999;
} 

@media all{ 
  .page { 
    margin:  0;
  } 

  html { 
    -webkit-box-sizing:    border-box; 
    -moz-box-sizing:    border-box; 
    box-sizing:   border-box;
    line-height:  1.15; 
    -webkit-text-size-adjust:  100%;
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
  } 

  .custom-header-content { 
    display: block; 
    margin:  0 auto; 
    max-width:  1500px; 
    width:  100%; 
    padding:  100px 30px;
    position: relative; 
    text-align: center; 
    z-index: 2;
  } 
}     

@media screen and (min-width: 64em){ 
  .custom-header-content { 
    padding: 88px 50px;
  } 
}     

@media screen and (min-width: 100em){ 
  .custom-header-content { 
    padding: 147px 50px;
  } 
}     

@media all{ 
  body:not(.home) .custom-header-content { 
    padding: 130px 30px 70px;
  } 
}     

@media screen and (min-width: 48em){ 
  body:not(.home) .custom-header-content { 
    padding: 150px 30px 80px;
  } 
}     

@media screen and (min-width: 64em){ 
  body:not(.home) .custom-header-content { 
    padding: 180px 50px 90px;
  } 
}     

@media only screen and (min-width: 75em){ 
  body:not(.home) .custom-header-content { 
    padding: 200px 50px 150px;
  } 
}     

@media all{ 
  *,:before,:after { 
    -webkit-box-sizing:  inherit; 
    -moz-box-sizing:  inherit; 
    box-sizing:  inherit;
  } 
}     